<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <dcol-lg-8 mx-autoiv class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>CODE</strong>
        </h1>
        <hr class="hr-white">
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5" id= "CODE">Class Oriented Development Enviroment</p>
        <p class="text-faded mb-5">Empowering students and teachers around the world</p>
        <div class="btn-group btn-group-sm">
          <%= link_to 'Teacher Sign In', new_teacher_session_path, class: 'btn btn-primary btn-xl' %>
          <%= link_to 'Teacher Sign Up', new_teacher_registration_path, class: 'btn btn-primary btn-xl' %>
          <%= link_to 'Student Sign In', new_student_session_path, class: 'btn btn-primary btn-xl' %>
        </div>
      </div>
    </div>
  </div>
</header>
