<div class="chart-container" style="position: relative;">
  <canvas id="code_lesson_chart" data-code-lesson-id= "<%= @code_lesson.id %>"></canvas>
</div>
<br>
<div class="chart-container" style="position: relative;">
  <canvas id="code_lesson_chart_time" data-code-lesson-id= "<%= @code_lesson.id %>"></canvas>
</div>
