<div class="chart-container" style="position: relative;">
  <canvas id="course_chart" data-course-id= "<%= @course.id %>"></canvas>
</div>
<br>
<div class="chart-container" style="position: relative;">
  <canvas id="course_chart_time" data-course-id= "<%= @course.id %>"></canvas>
</div>
