<div class="chart-container" style="position: relative;">
  <canvas id="track_chart" data-track-id= "<%= @track.id %>"></canvas>
</div>
<br>
<div class="chart-container" style="position: relative;">
  <canvas id="track_chart_time" data-track-id= "<%= @track.id %>"></canvas>
</div>
